body{
  background-color: #f4f4f4;
}
.color-box{
  width: 100px;
  height: 60px;
}
.color1{
  background-color: #4CAF5f;
}
.color2{
  background-color: rgb(26, 82, 59);
}
.color3{
  background-color: green;
}
.color4{
  background-color: hsl(150, 21%, 52%);
}
.color5{
  background-color: red;
}